---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: longhorn
  namespace: flux-system
spec:
  interval: 15m
  chartRef:
    kind: OCIRepository
    name: longhorn
    namespace: flux-system
  storageNamespace: flux-system
  targetNamespace: longhorn-system
  values:
    persistence:
      defaultClass: true # Make Longhorn default StorageClass
      defaultClassReplicaCount: 2
    csi:
      attacherReplicaCount: 2
      provisionerReplicaCount: 2
      resizerReplicaCount: 2
      snapshotterReplicaCount: 2
    defaultSettings:
      #% if cloudflare_r2_backup_enabled %#
      backupTarget: s3://longhorn-backups@auto/ # Configure offsite backups for reliability
      backupTargetCredentialSecret: cloudflare-r2-secret # SOPS-encrypted
      #% endif %#
      defaultReplicaCount: 2
      storageOverProvisioningPercentage: 200
      storageMinimalAvailablePercentage: 10
      autoDeletePodWhenVolumeDetachedUnexpectedly: true
      concurrentBackupRestorePerNode: 2
      orphanAutoDeletion: true
    securityContext:
      runAsUser: 1000
      runAsGroup: 1000
      fsGroup: 1000
    privileged: false
    monitoring:
      enabled: true
      serviceMonitor:
        enabled: true
        interval: 30s
    metrics:
      enabled: true
    ingress:
      enabled: false
    longhornUI:
      replicas: 1
    service:
      ui:
        type: ClusterIP
    resources:
      manager:
        requests:
          cpu: 250m
          memory: 512Mi
        limits:
          cpu: 500m
          memory: 1Gi
      engine:
        requests:
          cpu: 100m
          memory: 250Mi
    recovery:
      enabled: true
    # TODO Not sure if recurringJobs works
    recurringJobs:
      enabled: true
      jobs:
        - name: daily-backup
          groups:
            - default
          task: backup
          cron: "0 3 * * *"
          retain: 7
