---
apiVersion: v1
kind: Secret
metadata:
  name: cluster-secrets
stringData:
  SECRET_DOMAIN: "#{ cloudflare_domain }#"
---
#% if cloudflare_r2_backup_enabled %#
apiVersion: v1
kind: Secret
metadata:
  name: longhorn-r2-secret
  namespace: longhorn-system
type: Opaque
stringData:
  AWS_ACCESS_KEY_ID: "#{ cloudflare_r2_access_key }#"
  AWS_SECRET_ACCESS_KEY: "#{ cloudflare_r2_secret_key }#"
  AWS_ENDPOINT: "https://#{ cloudflare_r2_account_id }#.r2.cloudflarestorage.com"
#% endif %#
---

